* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
}

header {
    text-align: center;
}

#logo {
    width: 30%;
    margin-bottom: -1rem;
    margin-top: -1rem;
}


/* Add a black background color to the top navigation */

.topnav {
    background-color: #333;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    ;
}

button {
    cursor: pointer;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #4CAF50;
    color: #333;
}


/* Card styling */

.user-preferences {
    width: 50%;
    display: block;
    margin: 3% auto;
    padding: 3% 0 1% 0;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text {
    font-size: 27px;
    margin-top: 5%;
}

.option {
    font-size: 22px;
    margin-top: 3%;
}

label.option {
    font-size: 22px;
    margin: 3% 2% 0 0;
}

.submit,
#myBtn {
    width: 300px;
    height: 50px;
    display: block;
    font-size: 24px;
    background: #4CAF50;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5% auto;
}

.submit:hover,
#myBtn:hover {
    font-size: 27px;
    transition: 0.6s;
}

.heading p:first-child {
    font-size: 27px;
    margin-top: 1%;
    margin-left: 5%;
}

.heading p:last-child {
    font-size: 20px;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 2%;
}


/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 25px;
    border: 1px solid #eee;
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: #4CAF;
}


/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 2rem;
    background-color: white;
    display: none;
    overflow: hidden;
    height: auto;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #eee;
}

.productsList {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    width: 90%;
    text-align: center;
    overflow: hidden;
    background-color: #ddd;
    display: block;
    margin: 5% auto;
    cursor: pointer;
}

.card-selected {
    background-color: #4CAF50;
}

.card>img {
    width: 75%;
    margin: 10% 0 10% 0;
    border: 1px solid #000;
    height: 250px;
    max-height: 250px;
}

.card .container {
    background-color: #fff;
    padding: 5% 0 5% 0;
}

.card .container h4 {
    font-size: 30px;
}

.card .container p {
    font-size: 23px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #000;
    width: 30%;
    text-align: center;
    /* Could be more or less, depending on screen size */
}

.cart-container {
    text-align: left;
}

.cart-item-container {
    margin: 2% 0 2% 0;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.model-heading {
    font-size: 40px;
    padding-bottom: 2%;
    border-bottom: 1px solid #333;
}

.cart-heading {
    font-size: 30px;
}

.cart-text {
    font-size: 22px;
}

.finalPrice {
    padding-top: 3%;
    margin-top: 3%;
    font-size: 27px;
    border-top: 1px solid #333;
}

.footer {
    margin-top: 3%;
}

.footerText {
    text-align: center;
}