* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #000;
}

.nav-item {
    text-transform: uppercase;
}

#logo {
    width: 75%;
}

.heading-font {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.heading {
    border-bottom: 2px solid #000;
    font-size: 45px;
    width: 50%;
    display: block;
    margin: 0 auto;
}

.text {
    font-family: 'Open Sans', sans-serif;
    padding: 2rem 0 2rem 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.book-btn {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.book-btn:hover {
    background-color: rgba(255, 255, 255, 1) !important;
    color: #000 !important;
}

.carousel {
    position: relative;
}

.carousel-caption {
    position: absolute;
    top: 40%;
    left: 0;
}

.carousel-caption h1.heading-font {
    font-size: 55px;
}

.carousel-caption p.heading-font {
    font-size: 25px;
}

.carousel-item>img {
    width: 100%;
    object-fit: cover;
    height: 700px;
    filter: brightness(0.4);
}

.about-info,
.service-info,
.book-info {
    background-color: #f8f8f8;
    padding-top: 2rem;
}

#image1 {
    width: 100%;
}

.location-info,
.expert-info {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#googleMap {
    width: 100%;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.service-card {
    margin-top: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.service-card:hover {
    border: 4px solid #000;
    border-radius: 10px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.card-img-top {
    filter: brightness(0.8);
}

.btn-light {
    border: 0.5px solid #000 !important;
}

.barbers>img {
    width: 80%;
    filter: brightness(0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2rem;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
    border-radius: 10px;
}

.barber-info {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    color: #fff;
}

.barbers:hover .barber-image {
    filter: brightness(0.6);
    border: 4px solid #000;
}

.barbers:hover .barber-info {
    opacity: 1;
    transition: .5s ease;
}

.book-form {
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-form>div>input {
    width: 75%;
    display: block;
    margin: 1rem auto;
}

.btn-light {
    margin-top: 1rem;
}

.btn-light:hover {
    background-color: rgba(0, 0, 0, 1) !important;
    color: #fff !important;
}

.submit-btn {
    width: 40%;
}

footer {
    background: #000000;
    text-align: center;
    height: 5rem;
    margin-top: 4rem;
}

footer>p {
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding-top: 1.5rem;
}